* { box-sizing: border-box;
margin: 0; padding: 0px; }

#top {
  background-color: #BB5E7D;
  width: 100%;
  border-color: black;
}

#top a {
  color: #F1ECEE;
  font-size: 2em;
  text-decoration: none;
  background-color: #BB5E7D;
}
#down {
  background-color: #BB5E7D;
  width: 100%;
  height: 10%;
}
#top2 {
  background-color: #BB5E7D;
  width: 100%;
}
#top2 a {
  color: #F1ECEE;
  font-size: 1.5em;
  text-decoration: none;
  float: right;
  background-color: #BB5E7D;
}
#top3 a {
  color: #F1ECEE;
  font-size: 1.5em;
  text-decoration: none;
  float: right;
  background-color: #BB5E7D;
}
#top3 {
  background-color: #BB5E7D;
  width: 100%;
}
#top4 a {
  color: #F1ECEE;
  font-size: 1.5em;
  text-decoration: none;
  float: right;
  background-color: #BB5E7D;
}
#top4 {
  background-color: #BB5E7D;
  width: 100%;
}

#video2  {
  font-size: 2.5em;
  background-color: #751759 ;
  text-decoration: none;
  color: #003aff ;
}


}
#columna {
  color: #FAF857;
  background-color: #BB5E7D;
  font-size: 4em;
  margin-bottom: auto;
}
#info  {
  color: white;
  background-color: #751759;
  font-size: 1.5em;
  text-decoration: none;
  margin-bottom: auto;
  padding: 10px;
}
#info2  {
  color: white;
  background-color: #751759;
  font-size: 1.5em;
  text-decoration: none;
  margin-bottom: auto;
}
#info3  {
  color: white;
  background-color: #751759;
  font-size: 1em;
  text-decoration: none;
  margin-bottom: auto;
}
.espacio {
  background-color: #751759;
}
#artistas {
  color: #FAF857;
  font-size: 3em;
  background-color: #BB5E7D;
  margin-bottom: auto;
}

#dj {
  color: white;
  background-color: #751759;
  font-size: 1.5em;
  text-decoration: none;
  margin-bottom: auto;
  padding: 10px;
}
#dimitri  {
  color: white;
  background-color: #751759;
  font-size: 2em;
  text-decoration: none;
  margin-bottom: auto;
  padding: 10px;
}
#dimitri a {
  color: white;
  text-decoration: none;
  margin-bottom: auto;
   border-radius: 30%;
   padding: 10px;
}
#tiesto a {
  color: white;
  background-color: #751759;
  text-decoration: none;
  margin-bottom: auto;
  padding: 10px;
}
#tiesto  {
  color: white;
  background-color: #751759;
  font-size: 2em;
  text-decoration: none;
  margin-bottom: auto;
padding: 10px;
}
#martin a {
  color: white;
  background-color: #751759;
  text-decoration: none;
  margin-bottom: auto;
  padding: 10px;
}
#martin  {
  color: white;
  background-color: #751759;
  font-size: 2em;
  text-decoration: none;
  margin-bottom: auto;
padding: 10px;
}
#afro a {
  color: white;
  background-color: #751759;
  text-decoration: none;
  margin-bottom: auto;
padding: 10px;
}
#afro  {
  color: white;
  background-color: #751759;
  font-size: 2em;
  text-decoration: none;
  margin-bottom: auto;
padding: 10px;
}
#hard a {
  color: white;
  background-color: #751759;
  text-decoration: none;
  margin-bottom: auto;
padding: 10px;
}
#hard  {
  color: white;
  background-color: #751759;
  font-size: 2em;
  text-decoration: none;
  margin-bottom: auto;
padding: 10px;
}
#don a {
  color: white;
  background-color: #751759;
  text-decoration: none;
  margin-bottom: auto;
padding: 10px;
}
#don  {
  color: white;
  background-color: #751759;
  font-size: 2em;
  text-decoration: none;
  margin-bottom: auto;
padding: 10px;
}
#oliver a {
  color: white;
  background-color: #751759;
  text-decoration: none;
  margin-bottom: auto;
padding: 10px;
}
#oliver  {
  color: white;
  background-color: #751759;
  font-size: 2em;
  text-decoration: none;
  margin-bottom: auto;
padding: 10px;
}
#horarios {
  color: #FAF857;
  background-color: #BB5E7D;
  font-size: 3em;
  text-decoration: none;
  margin-bottom: auto;
}
#horarios2 {
  color: #FAF857;
  background-color: #751759;
  font-size: 3em;
  text-decoration: none;
  margin-bottom: auto;
  padding: 30px;
}

#escenarios {
  color: #FAF857;
  background-color: #BB5E7D;
  font-size: 2.5em;
  text-decoration: none;
  margin-bottom: auto;
  padding: 10px;
}
.espacio {
  background-color: #751759;
}
#story {
  color: white;
  background-color: #751759;
  font-size: 1.5em;
  text-decoration: none;
  margin-bottom: auto;

}

#compa {
  color: #FAF857;
  background-color: #BB5E7D;
  font-size: 1.5em;
  text-decoration: none;
  margin-bottom: auto;
}
.espacio {
  background-color: #751759;
}
#compa2 a {
  color: white;
  background-color: #751759;
  text-decoration: none;
  margin-bottom: auto;
}

body { margin: 0; padding: 10px; background-color: #751759; }
img { max-width: 100%; }

.gallery { }
.gallery-item{  float: left;   }
.gallery-item img  {  }
.g-wrapper { overflow: hidden; width: 450px; height: 220px;   }

.g-thin { border: thin solid; }
.g-dotted { border: thin dotted; }
.g-huge { border: thick solid; }

.g-black { color: black; }
.g-blue { color: blue; }
.g-orange { color: orange; }
.g-red { color: #751759; }

@media screen and (max-width: 800px) {
	#info, #columna,	#video2 #top2 #top3 #top4 #top  #horarios {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

	img { border-radius: 50%;}

}
